<nz-input-group [nzSuffix]="suffixIcon">
	<input nz-input
	       type="text"
	       placeholder="Поиск"
	       ngModel
	       (ngModelChange)="searchValue$.next($event)"
	/>
</nz-input-group>
<ng-template #suffixIcon>
	<i nz-icon nzType="search"></i>
</ng-template>

<nz-collapse>
	<nz-collapse-panel
			*ngFor="let treeNodeData of currentItems | keyvalue"
			[nzHeader]="treeNodeData.key"
	>
		<fz-data-tree
				[data]="treeNodeData.value"
		>
		</fz-data-tree>
	</nz-collapse-panel>
</nz-collapse>
<nz-pagination nzShowQuickJumper
               nzShowSizeChanger
               nzResponsive
               [nzPageIndex]="currentPage + 1"
               [nzPageSize]="itemsPerPage"
               [nzTotal]="totalPages"
               (nzPageSizeChange)="onPageSizeChange($event)"
               (nzPageIndexChange)="onPageChange($event)"

>
</nz-pagination>

