<!--suppress TypeScriptUnresolvedVariable -->
<ng-template #rowAddBtn>
	<nz-button-group>
		<button nz-button
		        nzType="primary"
		        (click)="addRow()"
		>
			Добавить новый
		</button>
	</nz-button-group>
</ng-template>
<nz-table #editRowTable
          nzBordered
          [nzShowPagination]="false"
          [nzData]="tableRowData"
          [nzFooter]="rowAddBtn"
>
	<thead>
	<tr>
		<th nzWidth="20%">Элемент</th>
		<th>Значение</th>
		<th class="actions-col">Действия</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let data of editRowTable.data"
	    class="editable-row"
	>
		<td>
			<div class="editable-cell"
			     [hidden]="data.editable">
				{{ data.name }}
			</div>
			<input #nameInput
			       nz-input
			       type="text"
			       [hidden]="!data.editable"
			       [ngModel]="data.name"
			       (keyup.escape)="stopChange(data.id)"
			/>
		</td>
		<td>
			<div class="editable-cell"
			     [hidden]="data.editable">
				{{ data.value }}
			</div>
			<textarea #valueInput nz-input
			          type="text"
			          style="border-radius: 0"
			          [ngModel]="data.value"
			          [hidden]="!data.editable"
			          (keyup.escape)="stopChange(data.id)"
			          [rows]="rowCount(data.value)"
			></textarea>
		
		</td>
		<td class="actions-col">
			<nz-button-group>
				<button *ngIf="!data.editable; else saveBtn"
				        nz-button
				        nzType="link"
				        (click)="startChange(data.id)"
				>
					<i nz-icon
					   nzType="edit"
					   nzTheme="outline"
					></i>
				</button>
				<ng-template #saveBtn>
					<button nz-button
					        nz-popconfirm
					        nzType="link"
					        nzPopconfirmTitle="Уверены?"
					        nzOkText="Подтвердить"
					        nzCancelText="Отменить"
					        (nzOnConfirm)="saveRow(data.id, nameInput.value, valueInput.value)"
					        (nzOnCancel)="stopChange(data.id)"
					>
						<i nz-icon
						   nzType="save"
						   nzTheme="outline"
						></i>
					</button>
				</ng-template>
				<button nz-button
				        nz-popconfirm
				        nzType="link"
				        nzPopconfirmTitle="Уверены?"
				        nzOkText="Подтвердить"
				        nzCancelText="Отменить"
				        (nzOnConfirm)="deleteRow(data.id)"
				        (nzOnCancel)="stopChange(data.id)"
				>
					<i nz-icon
					   nzType="delete"
					   nzTheme="outline"
					></i>
				</button>
			</nz-button-group>
		</td>
	</tr>
	</tbody>
</nz-table>
