<div class="logging-container">
	<nz-timeline [nzPending]="logs.length === 0" nzMode="left">
		<nz-timeline-item *ngFor="let log of logs" [nzColor]="circleColor(log.level)">
			<strong [style]="'color: ' + logColor(log.level)">{{ log.level }}:</strong> &nbsp;
			[{{ createdAt(log) | date:  datetimeFormat: timezone: locale}}]
			- <i>{{ log.message }}</i>
			<span [hidden]="!log.author">
			-
			<a>
				{{ log.author | userdata }}
			</a>
		</span>
		</nz-timeline-item>
	</nz-timeline>
</div>
