[nz-button] {
	margin-right: 8px;
	margin-bottom: 12px;
	padding-bottom: 1.5rem;
}

.actions-header {
	width: 15%;
	text-align: center;
}

.actions {
	text-align: center;
}

nz-breadcrumb {
	margin: 10px 0;
}

nz-input-group[id='search'] {
	margin: 20px 0;
}

nz-collapse-panel>.ant-collapse-content-box {
	padding: 0!important;
}
