<nz-breadcrumb>
	<nz-breadcrumb-item>
		<a [routerLink]="['../../']">Список</a>
	</nz-breadcrumb-item>
	<nz-breadcrumb-item>{{refType}}</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-input-group [nzSuffix]="searchSuffix">
	<input nz-input
	       type="text"
	       placeholder="Поиск"
	       autocomplete="off"
	       [(ngModel)]="searchText"
	       (keydown.enter)="searchValue$.next(searchText)"
	/>
</nz-input-group>

<ng-template #searchSuffix>
	<nz-button-group nzSize="large">
		<button nz-button
		        *ngIf="searchText.length > 0"
		        nzDanger
		        nzType="link"
		        style="padding: 0; margin: 0"
		        (click)="clearSearch()"
		>
			<i nz-icon nzType="close-circle"></i>
		</button>
		<button nz-button nzType="default"
		        (click)="searchValue$.next(searchText)"
		        style="padding: 0; margin: 0">
			<i nz-icon nzType="search"></i>
		</button>
	</nz-button-group>
</ng-template>

<nz-button-group>
	<button nz-button
	        nzType="dashed"
	        style="margin: 10px 0"
	        (click)="activate(!isActive)">
		{{ isActive ? 'Закрыть все' : 'Раскрыть все' }}
	</button>
</nz-button-group>

<nz-collapse>
	<nz-collapse-panel
			*ngFor="let tableDataPair of activeDataMap | keyvalue"
			nzNoAnimation
			[nzHeader]="tableDataPair.key"
			[nzActive]="isActive"
	>
		<fz-data-table [tableData]="tableDataPair.value"
		               [refId]="tableDataPair.key"
		               [refType]="refType"
		>
		</fz-data-table>
	</nz-collapse-panel>
</nz-collapse>
<nz-pagination nzShowQuickJumper
               nzShowSizeChanger
               nzResponsive
               nzHideOnSinglePage
               [hidden]="!showPagination"
               [nzPageIndex]="currentPage + 1"
               [nzPageSize]="itemsPerPage"
               [nzTotal]="totalPages"
               (nzPageSizeChange)="onPageSizeChange($event)"
               (nzPageIndexChange)="onPageChange($event)"

>
</nz-pagination>

