<nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="100">
	<ng-template #tpl>
		<div class="ant-back-top-inner">Наверх</div>
	</ng-template>
</nz-back-top>
<nz-layout class="app-layout">
	<nz-sider class="menu-sidebar"
	          nzCollapsible
	          nzWidth="320px"
	          nzBreakpoint="md"
	          [(nzCollapsed)]="isCollapsed"
	          [nzTrigger]="null">
		<div class="sidebar-logo">
			<a href="#">
				<img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
				<h1>Справочная Книга</h1>
			</a>
		</div>
		<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
			<li [nzTooltipTitle]="isCollapsed ? 'Справочники' : ''"
			    nzTooltipPlacement="right"
			    nz-menu-item
			    nz-tooltip
			>
				<i nz-icon nzType="book"></i>
				<span>
						<a routerLink="/ref">Справочники</a>
				</span>
			</li>
			<li [nzTooltipTitle]="isCollapsed ? 'Логи' : ''"
			    nzTooltipPlacement="right"
			    nz-menu-item
			    nz-tooltip
			>
				<i nz-icon nzType="history"></i>
				<span>
					<a routerLink="/logs">Логи</a>
				</span>
			</li>
		</ul>
	</nz-sider>
	<nz-layout>
		<nz-header>
			<div class="app-header">
				<span class="header-trigger"
				      (click)="isCollapsed = !isCollapsed">
					<i class="trigger"
					   nz-icon
					   [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'">
					</i>
				</span>
			</div>
		</nz-header>
		<nz-content>
			<div class="inner-content">
				<router-outlet></router-outlet>
			</div>
		</nz-content>
	</nz-layout>
</nz-layout>

<nz-modal [(nzVisible)]="isVisible"
          nzTitle="Введите данные о себе"
>
	<div *nzModalContent>
		<div style="text-align: center">
			<i nz-icon nzType="user" class="user-icon"></i>
		</div>
		<p>
			<nz-input-group nzSize="large" nzCompact>
				<input nz-input
				       [(ngModel)]="user.firstName"
				       placeholder="Имя"
				       class="user-firstname"
				       (focusout)="checkValid()"
				       type="text"
				/>
				<span [hidden]="!hasErrors" style="color: red; font-size: 8px">
					Это поле объязательно!
				</span>
				<input nz-input
				       nzSize="large"
				       class="user-lastname"
				       [(ngModel)]="user.lastName"
				       placeholder="Фамилия"
				       type="text"
				/>
			</nz-input-group>
		</p>
	</div>
	<div *nzModalFooter style="text-align: center">
		<button nz-button nzType="primary"
		        style="width: 100%"
		        (click)="handleOk()"
		        [nzLoading]="isConfirmLoading">
			Ok
		</button>
	</div>
</nz-modal>
