:host {
	display: flex;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.app-layout {
	height: 100%;
}

.menu-sidebar {
	position: relative;
	z-index: 10;
	min-height: 100vh;
	box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

.header-trigger {
	height: 64px;
	padding: 20px 24px;
	font-size: 20px;
	cursor: pointer;
	transition: all .3s, padding 0s;
}

.trigger:hover {
	color: #1890ff;
}

.searchbar {
	display: flex;
	position: relative;
	padding-bottom: 20px;
}

.sidebar-logo {
	position: relative;
	height: 64px;
	padding-left: 24px;
	overflow: hidden;
	line-height: 64px;
	background: #001529;
	transition: all .3s;
}

.sidebar-logo img {
	display: inline-block;
	height: 32px;
	width: 32px;
	vertical-align: middle;
}

.sidebar-logo h1 {
	display: inline-block;
	margin: 0 0 0 20px;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
	vertical-align: middle;
}

nz-header {
	padding: 0;
	width: 100%;
	z-index: 2;
}

.app-header {
	position: relative;
	height: 64px;
	padding: 0;
	margin: 0;
	top: 0;
	background: #efefef;
	box-shadow: 0 4px 8px rgba(0, 21, 21, 0.096);
}

nz-content {
	margin: 10px;
}

.inner-content {
	padding: 10px;
	background: #fff;
	height: 100%;
}

.user-input-divider {
	margin: 60px 0;
}

.user-lastname {
	margin: 20px 0
}

.user-icon {
	font-size: 100px;
	margin-bottom: 30px;
	background: rgba(49, 160, 224, 0.7);
	color: white;
	text-align: center;
	border-radius: 50px;
}

.ant-back-top {
	bottom: 100px;
}

.ant-back-top-inner {
	height: 40px;
	width: 100px;
	line-height: 40px;
	border-radius: 4px;
	background-color: #1088e9;
	color: #fff;
	text-align: center;
	font-size: 20px;
}
