<nz-tree-view [nzTreeControl]="treeControl"
              [nzDataSource]="dataSource"
              [trackBy]="trackBy"
              nzDirectoryTree
>
	<nz-tree-node *nzTreeNodeDef="let node"
	              nzTreeNodeIndentLine
	              nzTreeNodePadding
	>
		<nz-tree-node-option *ngIf="hasParent(node)"
		                     [nzSelected]="selectListSelection.isSelected(node)"
		                     (dblclick)="selectListSelection.toggle(node)"
		>
			<i nz-icon
			   nzType="file"
			   nzTheme="outline">
			</i>
			<span *ngIf="!selectListSelection.isSelected(node); else nodeNameEdit"
			      class="node-name"
			>
			    {{ node.name | normalize }}
			</span>
			<ng-template #nodeValue
			             [ngTemplateOutlet]="nodeValue"
			             [ngTemplateOutletContext]="{ $implicit: getValue(node)}"
			             let-value
			>
				<span *ngIf="value && !selectListSelection.isSelected(node)"
				      class="node-value"
				>
					[ <i>{{value}}</i> ]
				</span>
			</ng-template>
			<ng-template #nodeNameEdit>
				<nz-input-group>
					<input #nodeNameInput
					       nz-input
					       nzBorderless
					       nzSize="small"
					       type="text"
					       class="tree-input"
					       [ngModel]="node.name"
					       (keyup.escape)="cancel(node)"
					       (keyup.enter)="saveNode(node, nodeNameInput.value, nodeValueInput.value)"
					/>
					<input #nodeValueInput
					       nz-input
					       nzBorderless
					       nzSize="small"
					       type="text"
					       class="tree-input"
					       [ngModel]="getValue(node)"
					       (keyup.escape)="cancel(node)"
					       (keyup.enter)="saveNode(node, nodeNameInput.value, nodeValueInput.value)"
					/>
				</nz-input-group>
			</ng-template>
			<button nz-button *ngIf="hasParent(node)"
			        nzType="text"
			        nzSize="small"
			        class="tree-btn"
			        (click)="deleteNode(node)"
			>
				<i nz-icon
				   nzType="minus"
				   nzTheme="outline"
				></i>
			</button>
		</nz-tree-node-option>
	</nz-tree-node>
	
	<!-- Adding new node -->
	<nz-tree-node *nzTreeNodeDef="let node; when: hasNoContent"
	              nzTreeNodePadding
	              nzTreeNodeIndentLine
	>
		<input #nameInputElement
		       nz-input
		       class="tree-input"
		       placeholder="Ключ"
		       nzSize="small"
		       (keyup.escape)="cancel(node)"
		/>
		&nbsp;
		<input #valInputElement
		       nz-input
		       class="tree-input"
		       placeholder="Значение"
		       nzSize="small"
		       (keyup.escape)="cancel(node)"
		/>
		&nbsp;
		<button nz-button
		        nzType="dashed"
		        (click)="saveNode(node, nameInputElement.value, valInputElement.value)">
			Добавить
		</button>
	</nz-tree-node>
	
	<!-- Node that has any child -->
	<nz-tree-node *nzTreeNodeDef="let node; when: hasChild"
	              nzTreeNodePadding
	              nzTreeNodeIndentLine
	>
		<nz-tree-node-toggle *ngIf="hasChildren(1, node)">
			<i nz-icon
			   nzType="caret-down"
			   nzTreeNodeToggleRotateIcon
			></i>
		</nz-tree-node-toggle>
		<span class="node-name">
			{{ node.name | normalize}}
		</span>
		<nz-button-group nzSize="small">
			<button nz-button
			        nzType="text"
			        nzSize="small"
			        class="tree-btn"
			        (click)="addNewNode(node)"
			>
				<i nz-icon
				   nzType="plus"
				   nzTheme="outline"
				></i>
			</button>
			<button nz-button
			        nzType="text"
			        nzSize="small"
			        class="tree-btn"
			        (click)="deleteNode(node)"
			>
				<i nz-icon
				   nzType="minus"
				   nzTheme="outline"
				></i>
			</button>
		</nz-button-group>
	</nz-tree-node>
</nz-tree-view>
