.tree-btn {
	color: rgba(0, 0, 0, 0.4);
}

.tree-input {
	min-width: 100px;
}

.node-value {
	color: rgba(0, 0, 0, 0.5)
}

.node-name {
	color: rgba(0, 0, 0, 0.8);
}

.editable-cell {
	position: relative;
	padding: 5px 12px;
	cursor: pointer;
}

.editable-row:hover .editable-cell {
	border: 1px solid #d9d9d9;
	border-radius: 0;
	padding: 4px 11px;
}
