<nz-list nzBordered
         [nzHeader]="'Общее количество: ' + totalItems"
>
	<nz-list-item *ngFor="let item of activeReferences">
		<span>
			<a [routerLink]="['type', item]">
				{{ item }}
			</a>
		</span>
	</nz-list-item>
</nz-list>
<nz-pagination nzShowQuickJumper
               nzShowSizeChanger
               nzResponsive
               [nzPageIndex]="currentPage + 1"
               [nzPageSize]="itemsPerPage"
               [nzTotal]="totalPages"
               (nzPageSizeChange)="onPageSizeChange($event)"
               (nzPageIndexChange)="onPageChange($event)"

>
</nz-pagination>
